@page "/currencyConverter"
@using CurrencyCalculator
@using Microsoft.AspNetCore.Mvc.ModelBinding
@rendermode InteractiveServer

<PageTitle>Currency converter</PageTitle>

<h1>Currency converter</h1>

<p role="status"></p>

<form>
	<label for="value"> Amount to convert:</label><br>
	<input type="text" @bind="@Amount"/><br>
	
	
	
	
	<label for="CurrencyFrom">Currency to convert from:</label><br>
	<InputRadioGroup @bind-Value="From">
		@foreach (var currency in Enum.GetValues<CurrencyTypeEnum>())
		{
			<span>
				<InputRadio Value="@currency"/>
				@currency

			</span>
			<br/>
		}


	</InputRadioGroup>


	<label for="currencyTo">Currency to convert to:</label><br>
	<InputRadioGroup @bind-Value="To">


		@foreach (var currency in Enum.GetValues<CurrencyTypeEnum>())
		{
			<span>
				<InputRadio Value="@currency"/>
				@currency
			</span>
			<br/>
		}
	</InputRadioGroup>

	<label for="date">What date would you like the exchange rate to come from:</label><br>
	<input type="text" @bind="ConversionDate"/><br>



	<button type="button" @onclick="this.Calculate" class="btn btn-primary">calculate</button>
	<br/>
</form>


<div>
	<span>
		The final amount is:
		@this.Result
	</span>
	<br/>
</div>


@code {
	CurrencyCalculator.Calculator _calculator = new Calculator();
	public decimal Amount {get;set;} = 0;
	public CurrencyTypeEnum To { get; set; }
	public CurrencyTypeEnum From { get; set; }
	public DateTime ConversionDate { get; set; }
	public decimal Result { get; set; }

	private void Calculate()
	{
		if (From == CurrencyTypeEnum.Gbp && To == CurrencyTypeEnum.Eur)
		{
			decimal result = _calculator.CalculateFromPoundsToEuros(Amount, ConversionDate);
			Result = result;
		}
		else if (From == CurrencyTypeEnum.Gbp && To == CurrencyTypeEnum.Usd)
		{
			decimal result = _calculator.CalculateFromPoundsToUsDollars(Amount, ConversionDate);
			Result = result;
		}
		else if (From == CurrencyTypeEnum.Eur && To == CurrencyTypeEnum.Gbp)
		{
			decimal result = _calculator.CalculateFromEurosToPounds(Amount, ConversionDate);
			Result = result;
		}
		else if (From == CurrencyTypeEnum.Eur && To == CurrencyTypeEnum.Usd)
		{
			decimal result = _calculator.CalculateFromEurosToUsDollars(Amount, ConversionDate);
			Result = result;
		}
		else if (From == CurrencyTypeEnum.Usd && To == CurrencyTypeEnum.Gbp)
		{
			decimal result = _calculator.CalculateFromUsDollarsToPounds(Amount, ConversionDate);
			Result = result;
		}
		else if (From == CurrencyTypeEnum.Usd && To == CurrencyTypeEnum.Eur)
		{
			decimal result = _calculator.CalculateFromUsDollarsToEuros(Amount, ConversionDate);
			Result = result;
		}
	}


}