@page "/currencyConverter"
@using CurrencyCalculator
@using Microsoft.AspNetCore.Mvc.ModelBinding
@rendermode InteractiveServer

<PageTitle>Currency converter</PageTitle>

<h1>Currency converter</h1>

<p role="status"></p>

<form>
	<label for="value"> Amount to convert:</label><br>
	<input type="text" @bind="@Amount"/><br>
	
	
	
	<br/>
	<label for="CurrencyFrom">Currency to convert from:</label><br>
	<InputRadioGroup @bind-Value="From">
		@foreach (var currency in Enum.GetValues<CurrencyTypeEnum>())
		{
			<span>
				<InputRadio Value="@currency"/>
				@currency

			</span>
			<br/>
		}


	</InputRadioGroup>

	<br/>
	<label for="currencyTo">Currency to convert to:</label><br>
	<InputRadioGroup @bind-Value="To">


		@foreach (var currency in Enum.GetValues<CurrencyTypeEnum>())
		{
			<span>
				<InputRadio Value="@currency"/>
				@currency
			</span>
			<br/>
		}
	</InputRadioGroup>
	
	<br/>
	<label for="date">What date would you like the exchange rate to come from:</label><br>
	<input type="text" @bind="ConversionDate"/><br>


	<br/>
	<button type="button" @onclick="this.Calculate" class="btn btn-primary">calculate</button>
	<br/>
</form>


<div>

	<br/>
	<span>
		<div class="alert alert-primary" role="alert">
			You have successfully converted @Amount @From to @Result @To

		</div>
	</span>

</div>


@code {
	CurrencyCalculator.Calculator _calculator = new Calculator();
	public decimal Amount {get;set;} = 0;
	public CurrencyTypeEnum To { get; set; }
	public CurrencyTypeEnum From { get; set; }
	public DateTime ConversionDate { get; set; }
	public string Result { get; set; }

	private void Calculate()
	{
		
			decimal result = _calculator.ConvertCurrency(Amount, From, To, ConversionDate);
			Result = result.ToString("F");

	}


}